.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el layout ocupe al menos toda la altura de la pantalla */
}

.main-content-area {
  flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
  padding: 2rem; /* Añade un poco de espacio alrededor de las páginas */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; /* Centra el contenido */
  box-sizing: border-box;
}